<div class="p-3">
  <div class="card">
    <div class="card-header">
		<div class="d-flex justify-content-between bd-highlight mb-3">
			<div class="p-2 bd-highlight">Task</div>
			<div class="p-2 bd-highlight"></div>
			<div class="p-2 bd-highlight"> <button (click)='handleBack()' class="btn btn-secondary rounded-pill px-3" > Back </button></div>
		</div>
	</div>
    <div class="card-body">
	   <div *ngIf='task' > 
	    <div> 
	    {{ task.id }}
	    </div>
		<div> 
	    {{ task.title }}
	    </div>
		<div> 
	    {{ task.description }}
	    </div>
	   </div>
	   <div *ngIf='errorMessage' > {{ errorMessage }}</div>
	</div>
  </div>
</div>